.container {
  width: 345rem;
  height: 72rem;
  position: relative;

  display: flex;
  align-items: center;
  gap: 8rem;
  border: #eaecf0 solid 1rem;
  border-radius: 16rem;
  background-color: white;
  justify-content: space-evenly;
  padding-inline: 10rem;
  .body {
    width: 188rem;
    height: 36rem;

    display: flex;
 
    flex-direction: column;
    text-align: start;
    .subject {
      font-family: abnb-md;
      color: #040415;
      font-size: 14rem;
    }
    .details {
      font-size: 12rem;
      color: #9b9ba1;
    }
  }
  .joiners {
    width: 85rem;
    display: flex;
    gap: 4rem;
    flex-direction: column;
	.joinersDetails{
		font-size: 12rem;
		color: #9b9ba1;
	}
  }
  .challengeImg {
    width: 24rem;
    height: 24rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.taskJoiners{
  display:flex;
  flex-direction: row !important;
  gap:10rem;
  align-items: center;
}

.joinButton{
  font-size:24rem;
  line-height: 14rem;
  width:24rem;
  height:24rem;
  display:flex;
  align-items: center;
  justify-content: center;
}

.chalPadding {
  padding-bottom: 8rem;
}

.challengeProgress {
  width: 300rem !important;
  position: absolute;
  bottom: 4rem;
  height: 10rem;
}

.taskProgress{
	display:flex;
	align-items: center;
	justify-content: center;
	.taskImage{
		width: 15rem ;
		height: 15rem; 
		margin: auto;;
	}
}
