.container {
  width: 390rem;
  min-height: 100vh;
  background: #cdcdd0;
  color: #222;
  font-size: 24rem;
  font-weight: bold;
  font-family: arial;
  display: flex;
  flex-direction: column;
  gap: 20rem;
   
}
