.container {
  display: flex;
  flex-direction: column;
  gap: 6rem;
//   width: 390rem;
justify-content: center;
  background:red;
  height:500rem;
  img.illustration {
   
	margin-inline:auto;
    gap: 4rem;
  }
  .caption {
    width: 343rem;
    height: 184rem;
    font-size: 18rem;
    display: flex;
	justify-content: flex-start;
	text-align:start;
    flex-direction: column;
    gap: 4rem;
	padding:8rem;
    b {
      font-size: 24rem;
      font-weight: bold;
    }
    span {
      font-weight: 300;
    }
  }
}
