.container {
  display: flex;
  justify-content: space-between;
  width: 345rem;
  height: 20rem;
  font-size: 16rem;
  align-items: center;
  margin-inline:auto;
  font-family: abnb-md;
  color: #040415;
  .viewAll {
    font-size: 14rem;
    color: #3843FF;
  }
}
