@import "normalize.css";

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  --gradient-blue:linear-gradient(25deg,#6B73FF,#000DFF);
  /* filter:invert(80%) */
}

 

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}




* {
  box-sizing: border-box;
}
html {
  font-size: calc(100vw / 390);
}
#root {
  text-align: center;
  height: 100vh;
}

.image{
  color:red;
  background:#00a6ff;
  width:20rem;
  height:20rem;
  border-radius: 50%;;
  font-size:12rem;
  
}


/* custom fonts */
@font-face {
  font-family: abnb-light;
  src: url("./assets/fonts/AirbnbCereal_W_Lt.otf") format("woff2");
}

@font-face {
  font-family: abnb-md;
  src: url("./assets/fonts/AirbnbCereal_W_Md.otf") format("woff2");
  font-style: normal;
  font-weight: normal;
  font-display: auto;
}

@font-face {
  font-family: abnb-bold;
  src: url("./assets/fonts/AirbnbCereal_W_XBd.otf") format("woff2");
  font-style: normal;
  font-weight: normal;
  font-display: auto;
}