.container {
  background: #f6f9ff;
  min-height: 100vh;
  // width: 390rem;;
  .body{
    display: flex;
    flex-direction: column;
    gap:16rem;
  }
}
.header {
  display: flex;
  flex-direction: column;
  background: white;
  width: 390rem;
  height: 200rem; //239 originally
  padding:32rem 24rem 16rem 24rem;
  gap:12rem;
  .actionButtons {
    display: flex;
    width: 345rem;
    height: 48rem;
    align-items: center;
    justify-content: space-between;
    img {
      width: 48rem;
      height: 48rem;
    }
  }
  .greetings {
    width: 345rem;
    height: 48rem;
    display: flex;
    font-size: 12rem;
    color: #999;
    justify-content: space-between;
    .greet {
      display: flex;
      flex-direction: column;
      width: 100%;
      //   background: red;
      text-align: start;
      justify-content: center;
      b {
        width: 800;
        font-size: 14rem;
        color: #222;
      }
      span {
        font-size: 10rem;
      }
    }
    .mood {
      width: 48rem;
      display: flex;
      .emoji {
        align-items: center;
        justify-content: center;
        display: flex;
        width: 48rem;
        height: 48rem;
        border-radius: 50%;
        background: #ddf2fc;
        font-size: 25rem;
      }
    }
  }

  .switch {
    width: 345rem;
    height: 28rem;
    margin-inline: auto;
    background: #eaecf0;
    color: #686873;
    font-size: 14rem;
    display: flex;
	border-radius: 28rem;;
	position: relative;
    .sbutton {
      width: 170rem;
      height: 28rem;
      display: flex;
      justify-content: center
	  ;align-items: center;
	  position: inherit;

    }
	.floatSwitch{
		width:170rem;
		position: absolute;
		top:2rem;
		left:2rem;
		background: white;
		height: 24rem;

		border-radius: 28rem;;
		transition: all .3s linear;
	}
  }

  .animateSwitch{
	transform: translateX(170.5rem);

  }


}
